body{
    margin: 0;
    padding: 0;
    
}

.second{
    width: 100%;
    height: 765px;
    background-image: url(boy\ color.jpeg);
    background-size: cover;
    background-position-y: -63px;
    
}
.second h2{
    font-size: 38px;
    color: white;
    font-family: sans-serif;
    margin-left: 160px;
    margin-top: 378px;
    position: absolute;
}
.second input{
    color: #111111;
    background-color: white;
    position: absolute;
    font-size: 16px;
    margin-left: 155px;
    margin-top: 501px;
    width: 256px;
    height: 45px;
    border: 0px;
}
.second button{
    color: white;
    background-color: #f1c50e;
    font-family: sans-serif;
    position: absolute;
    margin-left: 455px;
    margin-top: 501px;
    width: 101px;
    height: 47px;
    border: 0px;
    font-size: 18px;
}
.second button:hover{
    background-color: white;
    color: #555c66;
    font-size: 16px;
}
.third{
    width: 100%;
    height: 585px;
    background-color: #f1c50e;
    position: relative;
}
.third img{
    width: 480px;
    height: 533px;
    margin-left: 800px;
    margin-top: 52px;
    position: absolute
}
.third h1{
    margin-left: 296px;
    margin-top: 223px;
    line-height: 1.2;
    font-weight: 900;
    font-size: 27px;
    font-family: sans-serif;
    color: #111111;
    position: absolute;
    
}
.third p{
    margin-left: 295px;
    margin-top: 330px;
    font-size: 1rem;
    line-height: 2;
    font-weight: 700;
    color: #111111;
    font-family: sans-serif;
    position: absolute;
}
.four{
    width: 1300px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.f1{
    width: 325px;
    height: 400px;
    flex-direction: column;
    background-color: #ee1b24;
}
.f1 h1{
    margin-left: 30px;
    margin-right: 50px;
    line-height: 1.1;
    font-weight: 900;
    font-size: 3.75rem;
    color: white;
    font-family: sans-serif;
}
.f1 h2{
    margin-left: 37px;
    font-size: 18px;
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
.f1 p{
    margin-left: 41px;
    color: white;
}
.f1 img{
    margin-left: 25px;
    margin-top: 24px;
}
.f2{
    width: 325px;
    height: 400px;
    flex-direction: column;
    background-color: #f1c50e;
}
.f2 h1{
    margin-left: 30px;
    line-height: 1.1;
    font-weight: 900;
    font-size: 3.75rem;
    color: black;
    font-family: sans-serif;
}
.f2 h2{
    margin-left: 40px;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
}
.f2 p{
    margin-left: 41px;
    color: black;
}
.f2 img{
    margin-left: 30px;
    margin-top: 24px;
}
.f3{
    width: 325px;
    height: 400px;
    flex-direction: column;
    background-color: #292d33;
}
.f3 h1{
    margin-left: 30px;
    margin-right: 50px;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 1.1;
    color: white;
    font-family: sans-serif;
}
.f3 h2{
    margin-left: 41px;
    font-size: 18px;
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
.f3 p{
    margin-left: 41px;
    color: white;
}
.f3 img{
    margin-left: 30px;
    margin-top: 24px;
}
.f4{
    width: 325px;
    height: 400px;
    flex-direction: column;
    background-color: #555c66;
}
.f4 h1{
    margin-left: 30px;
    font-weight: 900;
    font-size: 3.75rem;
    line-height: 1.1;
    color: white;
    font-family: sans-serif;
}
.f4 h2{
    margin-left: 41px;
    font-size: 18px;
    margin-top: 20px;
    font-family: sans-serif;
    color: white;
}
.f4 p{
    margin-left: 41px;
    color: white;
}
.f4 img{
    margin-left: 25px;
    margin-top: 24px;
}
.five{
    width: 100%;
    height: 1482px;
    background-color: #f1c50e;
}
.f5{
    width: 995px;
    height: 745px;
    position: absolute;
    background-color: #292d33;
    margin-left: 360px;
}
.f6{
   width: 802px;
   height: 374px;
   margin-left: 100px;
   margin-top: 97px;
   flex-wrap: wrap;
   justify-content: space-around;
   display: flex;
   position: absolute;
}
.f7{
    height: 374px;
   width: 360px;
   flex-direction: column;  
   background-image: url(image\ 1.jpg);
   background-size: cover;
}
.f8{
    height: 374px;
    width: 360px;
    flex-direction: column; 
    background-image: url(image\ 2.jpg);
    background-size: cover;
}
.f9{
    width: 1212px;
    height: 374px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    position: absolute;
    margin-top: 513px;
    margin-left: 100px;
}
.c1{
    height: 374px;
    width: 360px;
    flex-direction: column;
    background-image: url(image\ 3.jpg);
    background-size: cover;
}
.c2{
    height: 374px;
    width: 360px;
    flex-direction: column;
    background-image: url(image\ 4.jpg);
    background-size: cover;
    background-position-x: 361px;
}
.c3{
    height: 374px;
    width: 360px;
    flex-direction: column;
    background-image: url(image\ 5.jpg);
    background-size: cover;
}
.f10{
    width: 1212px;
    height: 374px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    position: absolute;
    margin-top: 930px;
    margin-left: 100px;
}
.c4{
    height: 473px;
    width: 360px;
    flex-direction: column;
}
.c4 h1{
    margin-top: 30px;
    margin-left: 20px;
    font-size: 34px;
    font-weight: 900;
    font-family: sans-serif;
}
.c4 p{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 700;
    line-height: 2;
    font-size: 16px;
    font-family: sans-serif;

}
.c5{
    height: 473px;
    width: 360px;
    flex-direction: column;
    background-image: url(image\ 6.jpg);
    background-size: cover;
    background-position-y: 505px;
}
.c6{
    height: 473px;
    width: 360px;
    flex-direction: column;
    background-image: url(image\ 7.png);
    background-size: cover;
    background-position-x: 361px;
}
.six{
    width: 100%;
    height: 810px;
    background-color: #292d33;
    position: relative;
}
.c7{
    position: absolute;
    width: 632px;
    height: 305px;
    background-color: #ee1b24;
    margin-top: 173px;
    margin-left: 380px;
}
.c8{
    width: 450px;
    height: 550px;
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    position: absolute;
    margin-top: -113px;
    margin-left: 91px;
}
.c9{
    width: 449px;
    height: 543px;
    background-image: url(men\ 2.jpeg);
    background-size: cover;
    position: absolute;
    background-position-y: -68px;
}
.six h1{
    line-height: 1.2;
    letter-spacing: 0;
    font-weight: 900;
    font-size: 36px;
    font-family: sans-serif;
    color: white;
    margin-left: 570px;
    margin-top: 619px;
    position: absolute;
}
.six p{
    font-weight: 700;
    line-height: 2;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 530px;
    margin-top: 695px;
    position: absolute;
    color: white;
}
.c10{
    width: 100%;
    height: 200px;
    background-color: #ee1b24;
    position: relative;
}
.c10 h1{
    font-size: 36px;
    font-family: sans-serif;
    font-weight: 900;
    margin-left: 595px;
    margin-top: 25px;
    color: white;
    position: absolute;
}
#g1{
    height: 37px;
    width: 37px;
    position: absolute;
    margin-left: 615px;
    margin-top: 108px;
    filter: grayscale(1) invert(1);
}
#g2{
    height: 37px;
    width: 37px;
    position: absolute; 
    margin-left: 681px;
    margin-top: 108px;
    filter: grayscale(1) invert(1);
}
#g3{
    height: 37px;
    width: 37px;
    position: absolute;
    margin-left: 751px;
    margin-top: 108px;
    filter: grayscale(1) invert(1);
}
#g4{
    height: 37px;
    width: 37px;
    position: absolute;
    margin-left: 820px;
    margin-top: 108px;
    filter: grayscale(1) invert(1);
}
#g5{
    height: 37px;
    width: 37px;
    position: absolute;
    margin-left: 883px;
    margin-top: 108px;
    filter: grayscale(1) invert(1);
}

.c11{
    width: 100%;
    height:592px;
    background-color: #292d33;
    position: relative;
}
.c12{
    width: 290px;
    height: 592px;
    border: 2px solid black;
    background-color: #f1c50e;
    position: absolute;
    margin-left: 575px;
    
}
.c16 h1{
    position: absolute;
    margin-top: 80px;
    margin-left: 690px;
    color: white;
    font-size: 36px;
    font-family: sans-serif;
}
#c13{
    position: absolute;
    width: 547px;
    height: 47px;
    font-family: sans-serif;
    font-size: 16px;
    margin-top: 175px;
    margin-left: 690px;
    border: 0px;
}
#c14{
    position: absolute;
    width: 547px;
    font-family: sans-serif;
    height: 47px;
    font-size: 16px;
    margin-top: 252px;
    margin-left: 690px;
    border: 0px;
}
#c15{
    position: absolute;
    width: 547px;
    font-family: sans-serif;
    height: 122px;
    margin-top: 330px;
    margin-left: 690px;
    font-size: 16px;
    border: 0px;
}
.c16 button{
    position: absolute;
    border: 2px solid white;
    background-color: #f1c50e;
    color: white;
    width: 147px;
    height: 47px;
    font-family: sans-serif;
    margin-top: 500px;
    margin-left: 690px;
}
.c18 h1{
    position: absolute;
    color: white;
    margin-left: 180px;
    font-weight: 900;
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 50px;
}
.c18 p{
    position: absolute;
    color: white;
    margin-left: 180px;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 139px;
}
.c18 h2{
    position: absolute;
    color: white;
    margin-left: 180px;
    font-weight: 900;
    font-size: 36px;
    font-family: sans-serif;
    margin-top: 315px;
}
.c18 h4{
    position: absolute;
    color: white;
    margin-left: 180px;
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 454px;
}
#e1{
    width: 32px;
    height: 32px;
    filter: grayscale(1) invert(1);
    margin-top: 350px;
    margin-left: 240px;
}
#e2{
    width: 32px;
    height: 32px;
    filter: grayscale(1) invert(1);
    margin-left: 15px;
    margin-top: 350px;
}
#e3{
    width: 32px;
    height: 32px;
    filter: grayscale(1) invert(1);
    margin-left: 18px;
    margin-top: 380px;
}
#e4{
    width: 32px;
    height: 32px;
    filter: grayscale(1) invert(1);
    margin-left: 20px;
    margin-top: 350px;
}
.c17{
    width: 100%;
    height: 150px;
    background-color: black;
    position: absolute;  
}
#r1:hover{
    background-color: white;
    color: #555c66;
}
.c17 h1{
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin-left: 543px;
    margin-top: 42px;
    position: absolute;
}
.c17 a{
    color: #555c66;
}
#r2{
    color: #555c66;
}
.c17 h3{

        color: #555c66;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 12px;
        margin-left: 600px;
        margin-top: 110px;
        position: absolute;
}









